#CompleteDetails .sfm_textbox
{
    padding:1px;
}
#CompleteDetails .sfm_textarea
{
    padding:2px;
    resize:none;
}
#CompleteDetails .error_strings
{
    font-family:Verdana;
    font-size:12px;
    color:#660000;
}
#CompleteDetails img
{
    border:0;
}
#CompleteDetails .loading_div
{
    background-color:transparent;
    background-image:url("images/loading.gif");
    background-position:center center;
    background-repeat:no-repeat;
}
#CompleteDetails input[type='submit'],input[type='reset']
{
    font:inherit;
    color:inherit;
}
#CompleteDetails .sfm_cr_box
{
    font-family:Verdana;
    font-size:10px;
    color:#888888;
}
#CompleteDetails .sfm_cr_box a
{
    color:#888888;
}
#CompleteDetails .sfm_slider
{
    margin:0;
    display:inline-bock;
}
#CompleteDetails .slider_label
{
    padding-top:5px;
    padding-left:3px;
    overflow:visible;
    display:inline-block;
}

@media only screen and (max-width : 480px)
{
#CompleteDetails .sfm_form_label,.element_label
{
    padding:12px 0 3px 0;
    clear:both;
}
#CompleteDetails .form_outer_div
{
    padding:10px;
}
#CompleteDetails .sfm_element_container
{
    margin-bottom:10px;
    content:'';
    display:inline-block;
    clear:both;
    width:100%;
}
#CompleteDetails .sfm_date_container:after
{
    content:'';
    display:block;
    clear:both;
}
#CompleteDetails fieldset
{
    display:none;
}
#CompleteDetails .sfm_textbox_common
{
    width:100%;
}
#CompleteDetails .sfm_datepicker_img_container
{
    padding-top:2px;
    padding-left:2px;
}
#CompleteDetails .sfm_datepicker_input
{
    width:80%;
}

}
#CompleteDetails .form_outer_div
{
    margin:0 auto;
    border:none;
    background-color:#ffffff;
}
#CompleteDetails .sfm_form_label
{
    background-color:transparent;
}
#CompleteDetails .element_label
{
    background-color:transparent;
}
body#sfm_CompleteDetails_body
{
    background-color:transparent;
    font-family:Arial;
    font-size:12px;
    color:#000000;
    margin:0px;
}
#CompleteDetails .form_outer_div
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
}
#CompleteDetails .form_subheading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#CompleteDetails .sfm_float_error_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
    background:none repeat scroll 0 0 #333333;
    border:0;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow:0 0 4px #333;
    border:none;
}
#CompleteDetails .sfm_close_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
}
#CompleteDetails .progress_box_container
{
    border:1px solid #8e8e8e;
    background-color:#cccccc;
    font-family:Arial;
    font-size:10px;
    color:#ffffff;
    text-align:center;
    vertical-align:middle;
}
#CompleteDetails .progress_box
{
    background-color:#333333;
    width:2px;
    float:left;
    margin:2px;
}
#CompleteDetails .page_heading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#CompleteDetails .page_number
{
    background-color:transparent;
}
#CompleteDetails input[type='text'],input[type='password'],input[type='email'],input[type='tel'],input[type='number']
{
    background-color:#ffffff;
    border:1px solid #888888;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height:23px;
    line-height:23px;
}
#CompleteDetails textarea
{
    background-color:#ffffff;
    border:1px solid #888888;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}


#CompleteDetails #heading_container
{
    z-index:4;
}
#CompleteDetails #label_container
{
    z-index:1;
}
#CompleteDetails #label
{
    text-align:left;
    font-family:Arial;
    font-size:9pt;
    color:#000000;
}
#CompleteDetails #label1_container
{
    z-index:2;
}
#CompleteDetails #SSN_container
{
    z-index:3;
}
#CompleteDetails #SSN
{
    float:left;
    z-index:3;
}
#CompleteDetails #upload_container
{
    z-index:11;
}
#CompleteDetails #horiz_line
{
    z-index:12;
    border:none;
    border-top:2px solid #000000;
}
#CompleteDetails #Submit_container
{
    z-index:10;
}
#CompleteDetails #CompleteDetails_Submit_img
{
    width:300px;
    height:48px;
    border:none;
}

@media only screen and (min-width : 480px)
{
#CompleteDetails #CompleteDetails_outer_div_p1
{
    width:300px;
    height:450px;
}
#CompleteDetails #heading_container
{
    position:absolute;
    left:10px;
    top:0px;
    width:160px;
    height:20px;
}
#CompleteDetails #heading
{
    position:absolute;
    top:0px;
    left:0px;
    text-align:left;
}
#CompleteDetails #label_container
{
    position:absolute;
    left:9px;
    top:31px;
    width:284px;
    height:31px;
}
#CompleteDetails #label
{
    position:absolute;
    left:0px;
    top:0px;
}
#CompleteDetails #label1_container
{
    position:absolute;
    left:9px;
    top:109px;
}
#CompleteDetails #label1_container
{
    width:226px;
    height:20px;
}
#CompleteDetails #label1
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#CompleteDetails #SSN_container
{
    position:absolute;
    left:9px;
    top:134px;
}
#CompleteDetails #SSN
{
    width:207px;
    height:19px;
}
#CompleteDetails #upload_container
{
    position:absolute;
    left:0px;
    top:168px;
    width:191px;
    height:170px;
}
#CompleteDetails #horiz_line
{
    position:absolute;
    left:0px;
    top:396px;
    width:300px;
    height:5px;
}
#CompleteDetails #Submit_container
{
    position:absolute;
    left:0px;
    top:402px;
    width:300px;
    height:48px;
}

}
